body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: blueviolet;
}

table{
    border: 2px solid coral;
    width: 700px;
    margin: 0 auto;
}

thead {
    background-color: rgb(235, 108, 192);
}

td {
    border-top: 2px solid salmon;
}

.code {
    font-family: monospace;
    background-color: rgb(241, 234, 131);
}